kestra/Backfill.yml
id: backfill
namespace: zoomcamp

description: |
  Backfill task for citibike data from 2013 to 2023

variables:
  file: "{{trigger.date | date('yyyyMM')}}-citibike-tripdata.zip"
  csv_file: "{{trigger.date | date('yyyyMM')}}-citibike-tripdata.csv"
  table: "Citibike_{{trigger.date | date('yyyyMM')}}_citibike_tripdata"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.file}}"

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{secret('GCP_SERVICE_ACCOUNT')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"

tasks:
  - id: run_kv_flow
    type: io.kestra.plugin.core.flow.Subflow
    namespace: zoomcamp
    flowId: key_values        # replace with your actual KV flow id
    wait: true                # wait for it to finish before continuing
    transmitFailed: true  

  - id: download_and_extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    beforeCommands:
      - apt-get update && apt-get install -y wget unzip
    commands:
      - wget -qO {{render(vars.file)}} https://s3.amazonaws.com/tripdata/{{render(vars.file)}}
      - unzip -o {{render(vars.file)}} '*.csv'
      - |
        MONTH="{{trigger.date | date('yyyyMM')}}"
        OUTPUT="${MONTH}-citibike-tripdata.csv"
        PARTS=$(ls ${MONTH}-citibike-tripdata_*.csv 2>/dev/null | sort -t_ -k2 -n)
        if [ -z "$PARTS" ]; then
          cp ${MONTH}-citibike-tripdata.csv "$OUTPUT" 2>/dev/null || true
        else
          FIRST=true
          for f in $PARTS; do
            if [ "$FIRST" = true ]; then
              cat "$f" > "$OUTPUT"
              FIRST=false
            else
              tail -n +2 "$f" >> "$OUTPUT"
            fi
          done
        fi


  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{outputs.download_and_extract.outputFiles[trigger.date | date('yyyyMM') ~ '-citibike-tripdata.csv']}}"
    to: "gs://{{kv('GCP_BUCKET_NAME')}}/{{render(vars.csv_file)}}"

  - id: create_table
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE TABLE IF NOT EXISTS `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.citibike_tripdata` (
        ride_id STRING OPTIONS ( description = 'The unique identifier for the ride'),
        rideable_type STRING OPTIONS ( description = 'The type of bike used for the ride'),
        started_at TIMESTAMP OPTIONS ( description = 'The start time of the ride'),
        ended_at TIMESTAMP OPTIONS ( description = 'The end time of the ride'),
        start_station_id STRING OPTIONS ( description = 'The ID of the station where the ride started'),
        start_station_name STRING OPTIONS ( description = 'The name of the station where the ride started'),
        end_station_id STRING OPTIONS ( description = 'The ID of the station where the ride ended'),
        end_station_name STRING OPTIONS ( description = 'The name of the station where the ride ended'),
        start_lat FLOAT64 OPTIONS ( description = 'The latitude of the station where the ride started'),
        start_lng FLOAT64 OPTIONS ( description = 'The longitude of the station where the ride started'),
        end_lat FLOAT64 OPTIONS ( description = 'The latitude of the station where the ride started'),
        end_lng FLOAT64 OPTIONS ( description = 'The longitude of the station where the ride started'),
        member_casual STRING OPTIONS ( description = 'The type of user: casual or member')
      )
      PARTITION BY DATE(started_at)
      
  - id: create_external_table
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE EXTERNAL TABLE `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.{{render(vars.table)}}_ext` (
        ride_id STRING OPTIONS ( description = 'The unique identifier for the ride'),
        rideable_type STRING OPTIONS ( description = 'The type of bike used for the ride'),
        started_at TIMESTAMP OPTIONS ( description = 'The start time of the ride'),
        ended_at TIMESTAMP OPTIONS ( description = 'The end time of the ride'),
        start_station_id STRING OPTIONS ( description = 'The ID of the station where the ride started'),
        start_station_name STRING OPTIONS ( description = 'The name of the station where the ride started'),
        end_station_id STRING OPTIONS ( description = 'The ID of the station where the ride ended'),
        end_station_name STRING OPTIONS ( description = 'The name of the station where the ride ended'),
        start_lat FLOAT64 OPTIONS ( description = 'The latitude of the station where the ride started'),
        start_lng FLOAT64 OPTIONS ( description = 'The longitude of the station where the ride started'),
        end_lat FLOAT64 OPTIONS ( description = 'The latitude of the station where the ride started'),
        end_lng FLOAT64 OPTIONS ( description = 'The longitude of the station where the ride started'),
        member_casual STRING OPTIONS ( description = 'The type of user: casual or member')
      )
      OPTIONS (
      format = 'CSV',
      uris = ['{{render(vars.gcs_file)}}'],
      skip_leading_rows = 1,
      ignore_unknown_values = TRUE
      );

  - id: bq_citi_table_tmp
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE TABLE `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.{{render(vars.table)}}`
      AS
      SELECT *
      FROM `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.{{render(vars.table)}}_ext`;

  - id: bq_citibike_merge
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      MERGE INTO `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.citibike_tripdata` T
      USING `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.{{render(vars.table)}}` S
      ON T.ride_id = S.ride_id
      WHEN NOT MATCHED THEN
         INSERT (ride_id,rideable_type,started_at, ended_at, start_station_name, start_station_id, end_station_name,end_station_id,start_lat, start_lng, end_lat, end_lng, member_casual)
         VALUES(S.ride_id, S.rideable_type, S.started_at, S.ended_at, S.start_station_name, S.start_station_id, S.end_station_name, S.end_station_id, S.start_lat, S.start_lng, S.end_lat, S.end_lng, S.member_casual);

  - id: purge
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles

errors:
  - id: cleanup_on_failure
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - |
        MONTH="{{trigger.date | date('yyyyMM')}}"
        rm -f *.csv
        echo "Cleaned up files for $MONTH"

finally:
  - id: cleanup_on_success
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - |
        MONTH="{{trigger.date | date('yyyyMM')}}"
        rm -f *.csv
        echo "Cleaned up files for $MONTH"

triggers:
  - id: backfill_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 9 1 * *"